.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid 8px magenta;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  border: solid 3px hotpink;
  background: hotpink;
  min-width: 30%;
}

input {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  height: 30px;
}

textarea {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  height: 100px;
  font-family: Arial;
  display: flex;
}

button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 30px;
  height: 30px;
  border-radius: 10px;
  color: magenta;
  background: #282C34;
}

.submission .p {
  border: solid 5px red;
}

.sample {
  border: solid 2px black;
  line-height: 3px;
  margin: 20px;
}